/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;

}

header {
    ul {
        margin: 0;
    }

    li {
        padding: 3rem 0;
    }

    li a {
        font-weight: 600;
        color: rgb(66, 69, 70);
        text-decoration: none;
    }

    .active {
        border-bottom: 4px solid #0282f9;

        a {
            color: #0282f9;
        }
    }
}

.jumbotron {
    background-image: url(./assets/img/jumbotron.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 300px;
}

.side-content {
    background-color: #0282f9;
}


.main-icon {
    width: 50px;
}

a:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

.row {
    height: 50%;
}