/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALS */

body {
    font-family: 'Open Sans', sans-serif;

}

/* UTILS */

.side-content {
    background-color: #0282f9;
}


.main-icon {
    width: 50px;
}

a:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

.row {
    height: 50%;
}

/* HEADER */

header {
    ul {
        margin: 0;
    }

    li {
        padding: 3rem 0;
    }

    li a {
        font-weight: 600;
        color: rgb(66, 69, 70);
        text-decoration: none;
    }

    .active {
        border-bottom: 4px solid #0282f9;

        a {
            color: #0282f9;
        }
    }
}

/* JUMBOTRON */

.jumbotron {
    background-image: url(./assets/img/jumbotron.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 300px;
}

/* FOOTER */

footer {
    background-image: url(./assets/img/footer-bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;


    h3 {
        font-weight: bold;
        padding-bottom: 1rem;
    }

    a {
        color: lightgray;
        text-decoration: none;
    }
}

.footer-social {
    background-color: #303030;
    width: 100%;
    padding: 3rem 0;

    .btn {
        border-radius: 0;
        color: white;
        border: 2px solid #0282f9;
    }

    .follow-span {
        color: #0282f9;
        font-weight: bold;
        padding-right: 2rem;
        font-size: 1.3rem;
    }

}