body {
    font-family: 'Open Sans', sans-serif;

}

header {
    li {
        padding: 3rem 0;
    }

    li a {
        font-weight: 600;
        color: rgb(66, 69, 70);
        text-decoration: none;
    }

    .active {
        border-bottom: 4px solid #0282f9;

        a {
            color: #0282f9;
        }
    }
}