body {
    font-family: 'Open Sans', sans-serif;

}

header {
    li {
        padding: 2rem 0;
    }

    li a {
        font-weight: 600;
        color: black;
        text-decoration: none;
    }
}