/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALS */

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;

}

/* UTILS */

.side-content {
    position: relative;
    background-color: #0282f9;
    z-index: 1;
}


.main-icon {
    width: 50px;
}

a:hover {
    cursor: pointer;
    text-decoration: #0282f9 !important;
    color: #0282f9;
}

.row {
    height: 50%;
}

.scale:hover a {
    scale: 1.1;
    padding-left: 1.3rem;
    font-size: 1.1rem;

}

.scale:hover .main-icon {
    transition: 1s all ease;
    transform: rotate(360deg) !important
}

/* HEADER */

header {

    nav ul {
        margin: 0;
    }

    li {
        padding: 3rem 0;

        &:hover {
            border-bottom: 4px solid #0282f9;
        }
    }

    li a {
        font-weight: 600;
        color: rgb(66, 69, 70);
        text-decoration: none;
    }

    .active {
        border-bottom: 4px solid #0282f9;

        a {
            color: #0282f9;
        }
    }

    .logo:hover {
        scale: 1.05;
        cursor: pointer;
    }

}

/* JUMBOTRON */

.jumbotron {
    background-image: url(./assets/img/jumbotron.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 300px;
}

/* SECTION CARD */

section {
    width: 100%;

    h3 {
        font-size: 1rem;
    }
}

.card:hover {
    scale: 1.05;
    cursor: pointer;
    opacity: 0.7;
}

.card:hover h3 {
    font-size: 1.1rem;
}

.card-img-container {
    aspect-ratio: 1 / 1;
    overflow: hidden;

    img {
        border-radius: 0;
    }
}

.btn {
    width: 200px;
    background-color: #0282f9;
    color: white;
    font-weight: bold;
    border-radius: 0;

    &:hover {
        background-color: #55a3ec;
        scale: 1.05;
        font-size: 1.02rem;
    }
}

.title-card-container {
    position: absolute;
    top: -2rem;
    width: 220px;
    color: white;
    background-color: #0282f9;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

/* FOOTER */

footer {
    overflow-x: hidden;
    background-image: url(./assets/img/footer-bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;

    .big-logo {
        width: 550px;
        top: -15%;
        left: 50%;
        z-index: 0;
    }


    h3 {
        font-weight: bold;
        padding-bottom: 1rem;
    }

    a {
        color: lightgray;
        text-decoration: none;
    }
}

.footer-social {
    position: relative;
    z-index: 1;
    background-color: #303030;
    width: 100%;
    padding: 3rem 0;

    .btn {
        border-radius: 0;
        color: white;
        border: 2px solid #0282f9;

        &:hover {
            background-color: #55a3ec;
            scale: 1.05;
            font-size: 1.05rem;
        }
    }

    .follow-span {
        color: #0282f9;
        font-weight: bold;
        padding-right: 2rem;
        font-size: 1.3rem;

        &:hover {
            color: #55a3ec;
            font-size: 1.33rem;
        }
    }

    img {
        border-radius: 50%;
        transition: all 0.3 ease;
    }

    img:hover {
        background-color: rgba(2, 130, 249, 0.5);
        box-shadow: 0 0 7px rgba(2, 130, 249, 0.8) !important;
        scale: 1.07;
    }
}

/* MEDIA QUERY */

@media screen and (max-width:992px) {

    nav>.list-unstyled {
        gap: 1rem !important;
    }

    .main-icon {
        padding: 0.8rem !important;
        margin: 0.8rem;
    }

    @media screen and (max-width:768px) {
        .big-logo {
            left: 50% !important;
            transform: translate(-50%, 0)
        }

        footer .row {
            padding-left: 4rem;
        }

        .jumbotron {
            margin-top: 2rem;
        }

        .logo {
            text-align: center;

        }

        header {
            position: relative;
        }

        nav img {
            width: 80px !important;
            margin: 1rem !important;
        }

        nav>.list-unstyled {
            position: absolute;
            top: 6.5rem;
            width: 100%;
            background-color: #fff;
            justify-content: center;
            align-items: center;
            gap: 0.2rem !important;

        }

        header li {
            padding: 0.5rem;
        }
    }

}

@media screen and (max-width:642px) {
    nav>.list-unstyled {
        width: 100vw !important;
        gap: 0 !important;
        text-align: center;
    }

    nav>.list-unstyled>li {
        width: 20%;
    }

    .big-logo {
        top: -3rem !important;
    }
}



@media screen and (max-width:586px) {

    .title-card-container {
        left: 50%;
        transform: translate(-50%, 0)
    }



    .follow-span {
        padding-right: 0 !important;
    }

    footer .row {
        padding-left: 1rem;
    }

}

@media screen and (max-width:473px) {
    nav>.list-unstyled {
        font-size: 0.8rem;
    }

    footer .row {
        padding-left: 0;
    }

    .big-logo {
        top: 1rem !important;
    }
}